.menu-background-image {
	background-image: url('https://bialoskorski.imgix.net/iStock-1350642766.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 180vmax;
	height: 100vh;
	opacity: 0.15;
	position: absolute;
	transition: opacity 800ms ease, background-size 800ms ease, background-position 800ms ease;
	width: 100vw;
	z-index: 0;
}
.menu-background-pattern {
	background-image: radial-gradient(rgba(255, 255, 255, 0.1) 9%, transparent 9%);
	background-position: 50% -60%;
	background-size: 8vmin 8vmin;
	height: 100vh;
	position: absolute;
	transition: opacity 800ms ease, background-size 800ms ease, background-position 800ms ease;
	width: 100vw;
	z-index: 1;
}
.menu[data-active-index='0'] > .menu-background-pattern {
	background-position-y: -60%;
}
.menu[data-active-index='1'] > .menu-background-pattern {
	background-position-y: -70%;
}
.menu[data-active-index='2'] > .menu-background-pattern {
	background-position-y: -80%;
}
.menu[data-active-index='0'] > .menu-background-image {
	background-position: center 45%;
}
.menu[data-active-index='1'] > .menu-background-image {
	background-position: center 50%;
}
.menu[data-active-index='2'] > .menu-background-image {
	background-position: center 55%;
}
.menu-items:hover ~ .menu-background-pattern {
	opacity: 0.5;
	background-size: 6.5vmin 6.5vmin;
	background-position-x: 40%;
}
.menu-items:hover ~ .menu-background-image {
	opacity: 0.1;
	background-size: 170vmax;
	transition: opacity 800ms ease, background-size 800ms ease, background-position 800ms ease;
}
