@import './dots.css';
@import './about.css';
@import './certificates.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(20, 20, 20);
	color: white;
	font-family: 'Ibarra Real Nova', serif;
	font-size: clamp(4vw, 11vmin, 60px);
}
a:hover,
a:link,
a:active,
a:visited {
	color: white;
	text-decoration: none;
}
.menu {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
}
.menu-items {
	position: relative;
	margin-left: 20%;
	z-index: 20;
}
.menu-item {
	cursor: pointer;
	padding: 2vh 0;
	text-decoration: none;
	transition: opacity 400ms ease;
}
.CookieConsent {
	background: black!important;
	font-size: min(2vmax, 20px);
}

.CookieConsent button {
	color: #000;
	font-size: min(1.5vmax, 20px);
}
